<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>A Stones Throw, Mollymook</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center grey-lighten-1 light">A Stones Throw</h1>
        <div class="row center">
          <h5 class="header col s12 grey-lighten-1 light">Mollymook Beach Holiday Rental</h5>
        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light transparent">Enquire Now</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/mreef.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="service-item center">
              <span class="fa-stack fa-4x">
              <i class="fa fa-map-marker fa-stack-1x text-primary"></i>
          </span>
            <h5 class="center">Location</h5>
            <p class="light center">A beautiful beach house located just a 'Stones throw' from the iconic Mollymook Beach. Panoramic ocean views from Bannister point in the north to Mollymook Golf club in the south. This is the ideal beach retreat.</p>
        </div>
      </div>

        <div class="col s12 m4">
          <div class="service-item center">
              <span class="fa-stack fa-4x">
              <i class="fa fa-glass fa-stack-1x text-primary"></i>
          </span>
            <h5 class="center">Entertainment</h5>
            <p class="light center">A beautiful beach house located just a 'Stones throw' from the iconic Mollymook Beach. Panoramic ocean views from Bannister point in the north to Mollymook Golf club in the south. This is the ideal beach retreat.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="service-item center">
              <span class="fa-stack fa-4x">
              <i class="fa fa-cutlery fa-stack-1x text-primary"></i>
          </span>
            <h5 class="center">Dining</h5>
            <p class="light center">A beautiful beach house located just a 'Stones throw' from the iconic Mollymook Beach. Panoramic ocean views from Bannister point in the north to Mollymook Golf club in the south. This is the ideal beach retreat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="assets/image1.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h4>Mollymook</h4>
          <p class="left-align light center">Mollymook is a beautiful coastal town located between Ulladulla and Milton and favoured with an enticing surf beach.
                    This stretch of sand offers ideal conditions for surfers and swimmers alike. The headlands at either end of the beach offer protection on windy days.
                    For a truly sublime meal, it’s hard to top Rick Stein at Bannisters, where you can dine on local oysters and freshly caught seafood.<br><em>Visit NSW</em>
            </p>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">

    <div class="parallax"><img src="assets/viewfrombeach.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <div class="container">
    <div class="section">
      <h3 class="header center black-text text-lighten-2">Facilities</h3>
      <div class="row">
        <div class="col s6 m2">
          <div class="service-item center">
              <span class="fa-stack fa-4x">
              <i class="fa fa-home fa-stack-1x text-primary"></i>
          </span>
            <p class="light center">Large Entire House Rental</p>
          </div>
        </div>

        <div class="col s6 m2">
          <div class="service-item center">
              <span class="fa-stack fa-4x">
              <i class="fa fa-users fa-stack-1x text-primary"></i>
          </span>
            <p class="light center">Up to 13 Guests</p>
          </div>
        </div>

        <div class="col s6 m2">
          <div class="sercive-item center">
            <span class="fa-stack fa-4x">
              <i class="fa fa-bed fa-stack-1x text-primary"></i>
            </span>
          </div>
            <p class="light center">5 Bedrooms (6 Beds)</p>
        </div>

        <div class="col s6 m2">
          <div class="sercive-item center">
            <span class="fa-stack fa-4x">
              <i class="fa fa-wifi fa-stack-1x text-primary"></i>
            </span>
          </div>
            <p class="light center">Wireless Internet</p>
        </div>

      <div class="col s6 m2">
        <div class="sercive-item center">
          <span class="fa-stack fa-4x">
            <i class="fa fa-product-hunt fa-stack-1x text-primary"></i>
          </span>
        </div>
          <p class="light center">Parking On Site</p>
      </div>

      <div class="col s6 m2">
        <div class="sercive-item center">
          <span class="fa-stack fa-4x">
            <i class="fa fa-free-code-camp fa-stack-1x text-primary"></i>
          </span>
        </div>
          <p class="light center">Fire Place</p>
      </div>

      </div>

    </div>
  </div>



  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="assets/fireplace.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">

        <div class="col s12 m4">
            <h5 class="light grey-darken-2 center">Chris</h5>
            <p class="light grey-darken-2 center"><b>Awesome Property, Unreal Views</b><br><em>October 4, 2016</em>
            <p class="light grey-darken-1 center">"Picture perfect house with everything you could possibly need, we had 13 guests there for my sisters wedding and still plenty of room for privacy.
 owners have really outdone them selves with this property, Highly recommend"</p>
         </div>

        <div class="col s12 m4">
            <h5 class="light grey-darken-2 center">Cameron</h5>
            <p class="light grey-darken-2 center"><b>Amazing!</b><br><em>November 5, 2016</em>
            <p class="light grey-darken-1 center">"Great house, great spot and owners were lovely. Couldn't recommend highly enough and will be coming back."</p>
        </div>

        <div class="col s12 m4">
            <h5 class="light grey-darken-2 center">Elenor</h5>
            <p class="light grey-darken-2 center"><b>Fantastic beachfront property</b><br><em>June 14, 2016</em>
            <p class="light grey-darken-2 center">"Had a great time over the June long weekend. Property is well equipped (including wood for the fire) with all our needs met. Plenty of room for two (or even three) families to enjoy a fun time by the sea! Saw dolphins and a whale from the deck!"</p>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="assets/mollymookbeach.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
            <p class="light grey-darken-2 center">View the property on Google Street View</p>
            <div class="sercive-item center">
              <span class="fa-stack fa-4x">
              <a href="https://www.google.com.au/maps/@-35.3300851,150.4753878,3a,75y,239.95h,78.85t/data=!3m6!1e1!3m4!1sxoymKoYJNnU4WrkCFv0Q7A!2e0!7i13312!8i6656" target="_blank"<i class="fa fa-street-view fa-stack-1x text-primary"></i></a>
              </span>
      </div>
    </div>
    <h5 class="light grey-darken-1 center">Contact Us</h5>
  </div>
  </div>

  <section id="contactme" form class="form-horizontal">
      <%= render 'enquiries/form', enquiry: @enquiry %>
    </section>




  <footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text light">A Stones Throw</h5>
          <p class="grey-text text-lighten-4 light">A beautiful beach house located just a 'Stones throw' from the iconic Mollymook Beach. Panoramic ocean views from Bannister point in the north to Mollymook Golf club in the south. This is the ideal beach retreat.
Open plan living with a huge front verandah for entertaining as well as rear deck. Both areas have BBQs with outdoor settings and dinings.
          </p>

        </div>
        <div class="col l3 s12">
          <h5 class="grey-text text-lighten-4 light">More Facilities</h5>
          <ul>
            <li><a class="grey-text text-lighten-4 light">Table Tennis Table</a></li>
            <li><a class="grey-text text-lighten-4 light">DVD Players</a></li>
            <li><a class="grey-text text-lighten-4 light">Baby Cot On Request</a></li>
            <li><a class="grey-text text-lighten-4 light">Sofa Bed Optional</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="grey-text">. </h5>
          <p class="grey-text text-lighten-4 light">
            Our property is Schoolies/Bucks Party free, sorry for any inconvenience.
            </p>
            <ul class="white-text text-lighten-4 light">
              <% if admin_signed_in? %>
                <li>
                <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
                </li>
              <% else %>
                <li>
                <%= link_to('Admin', new_admin_session_path)  %>
                </li>
              <% end %>
              <% if admin_signed_in? %>
                <li>
                <%= link_to('Edit Account', edit_admin_registration_path) %>
                </li>
              <% end %>
              <% if admin_signed_in? %>
                <li>
                <%= link_to('View Enquiries', enquiries_path) %>
                </li>
              <% end %>
            </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Website by <a class="brown-text text-lighten-4"  href="mailto:carl.warburton1992@gmail.com">Carl Warburton</a>
      </div>
    </div>
  </footer>

  </body>
</html>
