<div class="row">
  <div class ="col s12 m10 offset-m1 l8 offset-l2">


<p id="notice"><%= notice %></p>

<table class="striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @enquiry.name %></td>
        <td><%= @enquiry.phone %></td>
        <td><%= @enquiry.email %></td>
        <td><%= @enquiry.message %></td>
      </tr>
  </tbody>
</table>



<%= link_to 'Edit', edit_enquiry_path(@enquiry) %> |
<%= link_to 'Back', root_path %>

</div>
</div>
